.all{
    /* background-color: #F2EDED; */
    background-color: #F5F8FF;
}

.image-fixed{
    object-fit: contain;
}
.p10{
    padding: 0px 0px;
}

.pr10{
    padding-right: 10px;
}

.pt20{
    padding-top: 20px;
}

.pt10{
    padding-top: 5px;
}

.font-1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

}
.font-2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

header{
    height: 698px;
    background-image: url(/Assets/Hero-bg.png);
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3{
    padding-left: 100px;
    color: #4E47FF;
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
     
}

nav button{
    margin-right: 100px;
    
}

.button-primary{
    background-color: #4E47FF;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal; 
    font-weight: bold;   
    padding: 12px 36px;
}

.banner-content{
    text-align: center;

}


.banner-text{
    padding-top: 70px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal; 
    font-weight: bold;
    font-size: 65px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}

.section-1{
    padding: 120px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.see-it h3{
    color: #252432;
    font-size: 42px;
}

.text-2{
    color: #252432;
    font-weight: 200;
    font-size: 24px;
}

.image{
    width: 403px;
    height: 328px; 
    background-image: url(/Assets/wc-mini.png);
    border-radius: 48px;
}

/* footer style  */
footer{
    text-align: center;
    background-color: white;
}
footer h3{    
    color: #4E47FF;
    font-size: 100px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    margin: 0;

}
footer p{
    color:#8987A1;
}

footer ul{
    display: flex;
    justify-content: center;
}

footer ul li{
    list-style: none;
    padding: 10px 25px;
    color:#8987A1;
}

/* section - 2 */
.section-2{
    background-color: #4d47ff2d;
    padding: 50px;
    border-radius: 20px;
}

.join{
    margin-top: 0;
}
.about{
    display: flex;
    justify-content: space-around;

}

.section-2 h3{
    color: #252432;
    font-size: 38px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal; 
    font-weight: bold;
    text-align: center;
}

.about-item {
    text-align: center;
}

.about-item p{
    margin: 0;
}

.about-item h3{
    color: #4E47FF;
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    margin: 0;
}

.soft-text{
    color:#8987A1;
}

.cards{

    display: flex;
    justify-content: space-between;
    
}

.section-3{
    margin-top: 137px;
}

.section-3 h3{
    text-align: center;
}

.info{
    background-color: white;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    padding: 20px;
    padding-right: 60px;
}

.info img{
    border-radius: 50%;
}

.info p{
    margin:0;
    
}
.grey{
    color: #757575;
}
.bold{
    font-weight: 700;
}
.text-tertiary{
    color:#B3B3B3;
}
.heading-4{
    font-size: 42px;
}

.reviewer{
    display: flex;
    vertical-align: middle;
}
.pl10{
    padding-left: 10;
}

.section-4{
    width: 1140px;
    height: 700px;
    background-color: #ffffff;
    margin-top: 137px;
    text-align: center;
}

.section-4 h3{
    font-size: 50px;
    padding-top: 71px;
    margin: 0;
}


.img-3{
    border-radius: 48px;
    /* padding-bottom: 71px; */
}

.pt-20{
    padding-top: 20px;
}
.section-5{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-5 h3{
    font-size: 97px;
    font-weight: 800;

}
.section-5 button{
    padding: 19px 201px;
    margin-left: 80px;
    margin-top: 30px;
}

.section-5 label{
    font-size: 18px;

}
input{
    padding: 20px 379px 20px 32px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #D6DDED;
}
.input{
    margin: 0;
    padding-left: 200px;
}

